body{
    display: flex;
    width: 1970px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    box-sizing: border-box;
    
}
#reset-btn{
    width: fit-content;
    padding: 12px;
    margin-top: 10px;;
}
.flexchange{
   width:25%;
 height: 25%; /* Adjust height as needed */
    
   
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    width:100%;
    height:800px;
    border: 1px solid black;
    
}
.changecolor{
    width: fit-content;
    padding: 12px;
}

#color{
    width: 100%;
    height: 200px;
    background-color: brown;
}
.calendar{
    background-color: blueviolet;
    width: 100%;
    padding: 65px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
html{
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.date{
    width:40px;
    height:40px;
    font-size: 36px;
}
.cal{
    width:150px;
    height: 130px;
    display: flex;
    align-items: center;
    gap:5px;
    margin: 0px;
    flex-direction: column;
    background-color: white;
}
.cal .month{
text-align: center;
margin: 0px;
background-color: red;
color:white;
width:100%;
}
.cal p{
margin:0px;
}


.time_container{
    background-color: rgb(57, 185, 125);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 65px 20px;
    width: 100%;
   
}
.time_container h2{
   font-size: 50px;
   text-align: center;
   width: 50%;
   
}
.time{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
gap:20px;

}
.time div{
 display: flex;
flex-direction: column;
align-items:center ;

background-color: rgb(46, 143, 98);
padding:  20px;
border-radius: 5px;
 
}
.time div p:last-child{
  font-size: 2rem;
  color: white;
}
.time div p:first-child {
    background-color:rgb(35, 112, 76);
    width: 80px;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 3rem;
    margin: 0;
    color: white;
    border-radius: 5px;

}
.button_container{
    width: 100%;
   border-radius: 10px;
    display: flex;
   align-items: center;
    
    flex-direction: column;
    background-color: black;
    padding: 10px;
    
}
.button_container div{
    display: flex; 
    gap:5px;
    justify-content: center;
    width: 100%;


}
.button_notation{
    color:white;
    text-align: center;
}
.button_1{
    background-color: rgb(67, 228, 67);
    color: white;
    width: 50%;
    padding: 12px;
    border: none;
}
.button_2{
    background-color: red;
    color: white;
    width: 50%;
    padding: 12px;
    border: none;
}
.contimg{
    width: 100px;
    height: 100px;
}
.contimg:hover{
    transform: scale(1.1);
    border-radius: 10px;
}
.big{
   width: 100%;
   max-height: 700px;
    margin:20px;

}
#container{
    margin-left: 10px;
    width: 100%;
    display: flex;
    gap:8px;
   align-items: center;

   flex-wrap: wrap;
  
   
    
}
.display{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
background-color:rgb(66, 40, 91);
height: 100px;
width: 100px;
list-style-type: none;
}
button:hover {
background-color: gray;
cursor: pointer;
transition: transform 0.3s ease-in-out;
transform: scale(1.1);
}


.parent{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
}
button{
padding: 12px;
border-radius: 10px;
width: 60px;
color:white;
background-color: black;

}

@media screen and (max-width:600px) {

#container{
justify-content: center;
}
.button_container{
    width: 100%;
    
}
}
.bar{
  
    background-color: green;
    width: 30px;
    height:20px;
    max-width: 100%;
    
}
.progersbardiv{
    display: flex;
    flex-direction: column;
    width:100%;

    gap:12px;
}
.mytimer{
    width:70%;
    height:300px;
    background-color: black;
    margin:10px;
    padding:10px;
    display:flex;
    gap:30px;
  border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.timedisplay_div{
  
   display: flex;
   gap:20px;
   align-items: center;
  
}
.timedisplay_div p{
    color: white;
    font-size: 36px;
}
.buttoncont{
    display: flex;
    gap:20px;
    align-items: center;
    flex-shrink:1;
}
.buttoncont button{
   background-color: white;
   color: black;
   border: none;
   border-radius: 10px;
}
.colon{
    color: white;
    font-size: 36px;
}
.scroltotop{
    width:40px;
    height:40px;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
    border: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.imgslider{
   width:90%;
   
  height: auto;
    overflow-x: hidden;
    position: relative;
    white-space: nowrap;
}
.slider2{
    display:flex;
    flex-wrap: nowrap;
    width: max-content;
    transition: transform 0.5s ease-in-out;
    
}
.slider2 img{
  
  
  
  overflow-x: hidden;
   

}
.align{
    position: absolute;
    font-size: 50px;
    background-color: transparent;
    border: none;
    color:rgb(91, 32, 32);
    top:50%;

}
.prev{
    left:20px;
}
.next{
    right:20px;
}
.imgsliderwrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider3 div img{
    width: 300px;
   height: 100%;

   
    
}
.slider4{
    width: 100%;
    display: flex;
    align-items: center;
    height: 800px;
    padding: 20px;
}
.slider3 div p{
    width: 200px;
    font-size: 36px;
    text-align: center;
   
 
}
.slider-container2{
    width:100%;
    height: 400px;
    overflow-x: hidden;
    position: relative;
   
}
.slider3{
    display: flex;
    width:min-content;
    overflow-x: hidden;
   height: 100%;
    
    transition: transform 0.5 ease-in-out;
 
   
    
    
}
.slider3 div{
    margin: 0;
    display: flex;
    
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 500px;  
}

.b{
    position: absolute;
    top:50%;
}

.prev2{
    left:20px;
}
.next2{
    right:20px;
}